<a href="https://colab.research.google.com/github/LanceAndrei10/Opana/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/LanceAndrei10/Lance/main/bank.csv')

In [6]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [7]:
df. duplicated(). sum()

0

In [8]:
df. drop_duplicates(inplace=True)

In [9]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [17]:
df['job']=df['job'].astype('category')

In [18]:
df['job'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11162 entries, 0 to 11161
Series name: job
Non-Null Count  Dtype
--------------  -----
11162 non-null  category
dtypes: category(1)
memory usage: 11.4 KB

In [19]:
df['job'].head()

0        admin.
1        admin.
2    technician
3      services
4        admin.
Name: job, dtype: category
Categories (12, object): ['admin.', 'blue-collar', 'entrepreneur', 'housemaid', ..., 'student',
                          'technician', 'unemployed', 'unknown']

In [23]:
df['job']=pd.to_numeric(df['job'], errors='coerce'). astype('Int64')

In [ ]:
df['Job'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11162 entries, 0 to 11161
Series name: Job
Non-Null Count  Dtype
--------------  -----
0 non-null      Int64
dtypes: Int64(1)
memory usage: 98.2 KB

In [24]:
df. head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,<NA>,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,<NA>,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,<NA>,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,<NA>,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,<NA>,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [26]:
df['deposit'] = pd.to_datetime(df['deposit'], errors = 'coerce')

<ipython-input-26-35e6657ad2c1>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['deposit'] = pd.to_datetime(df['deposit'], errors = 'coerce')

In [29]:
df.['deposit'].info()

SyntaxError: invalid syntax (<ipython-input-29-b525ea4631e6>, line 1)